target
node
node_modules
.idea
*.iml
.gradle
build
model/generated
.classpath
.project
.settings
bin
.tmp
.merge_file*
.sass-cache
.DS_Store
gradle-app.setting
logs
generated
tmpjsdeps
nbproject
*.tlog
classes
